.background {
  background-color: gray;
  height: 800px;
}

.margin-top16px {
  margin-top: 16px;
}

.subtitle {
  color: #919191;
  font-family: "Roboto", arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 125%;
  margin: 0.5em 0;
}
