<div class="container">
  <div class="row">
    <div class="col margin-top16px">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Search</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <h1 class="subtitle">Use a pesquisa avançada para explorar Pokémon</h1>
    </div>
  </div>
</div>
