.svg {
  margin-top: 14px;
  float: right;
  position: relative;
  right: 40px;  
}

.background {
  width: 100%;
  background-color: rgba(100, 148, 237, 0.541);
  padding-bottom: 20px;
}

.title {  
  margin-top: 14px;
  text-align: initial;
  position: relative;
  top: 18px;
}
